In [ ]:
#import every time
import os
import openpyxl
import pandas as pd
from pathlib import Path
import re
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')
import re
pd.set_option('display.max_columns', None)

Mounted at /content/drive

In [ ]:
path_for_raw_data_folder = r'/content/drive/MyDrive/TurnNeck/PROCESSED/1. MATLAB (Exclude less than 50 µV)'
path_for_the_final_folder = r'/content/drive/MyDrive/TurnNeck/PROCESSED/5. Auto_Analysis'
ext = ('.xlsx')
list_of_files = []
for files in os.listdir(path_for_raw_data_folder):
    if files.endswith(ext):
        list_of_files.append(files)
print(list_of_files)
print(len(list_of_files))

['sub4.xlsx', 'sub6.xlsx', 'sub5.xlsx', 'sub3.xlsx', 'sub2.xlsx', 'sub8.xlsx', 'sub10.xlsx', 'sub12.xlsx', 'sub14.xlsx', 'sub16.xlsx', 'sub19.xlsx', 'sub20.xlsx', 'sub1.xlsx']
13

In [ ]:
def preanal(df):
  df_new = pd.DataFrame(columns = df.columns[1:], index=['mean', 'std', 'mean+2sd', 'mean-2sd', 'mean_cleaned'])
  df_new_cleaned = pd.DataFrame()
  for (columnName, columnData) in df.iteritems():
    if 'Trial' in columnName:
      continue
    df_new.loc['mean',columnName] = columnData.mean()
    df_new.loc['std',columnName] = columnData.std()
    trsh1 = columnData.mean() - 2*columnData.std()
    trsh2 = columnData.mean() + 2*columnData.std()
    df_new.loc['mean+2sd',columnName] = trsh1
    df_new.loc['mean-2sd',columnName] = trsh2
    if trsh1 < 0:
      trsh1 = 0
    for j in range(len(df)):
        if (float(df.loc[j, columnName]) >= trsh1) and (float(df.loc[j, columnName]) <= trsh2):
            df_new_cleaned.at[j, columnName + '_' + 'mean+-2sd'] = df.loc[j, columnName]
        else:
            df_new_cleaned.at[j, columnName + '_' + 'mean+-2sd'] = None
    df_new.loc['mean_cleaned',columnName] = df_new_cleaned[columnName + '_' + 'mean+-2sd'].mean()
  return df_new, df_new_cleaned

In [ ]:

df3 = pd.DataFrame(np.nan, index=range(27), columns=['epr1', 'epr2', 'epr3', 'epr4', 'epr5'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   epr1    0 non-null      float64
 1   epr2    0 non-null      float64
 2   epr3    0 non-null      float64
 3   epr4    0 non-null      float64
 4   epr5    0 non-null      float64
dtypes: float64(5)
memory usage: 1.2 KB

In [ ]:
#for i in list_of_files:
    #excel_file = r'/content/drive/MyDrive/TurnNeck/PROCESSED/1. MATLAB (Exclude less than 50 µV)' + '/' + i
  excel_file = r'/content/drive/MyDrive/TurnNeck/PROCESSED/1. MATLAB (Exclude less than 50 µV)' + '/' + list_of_files[3]
  df = pd.read_excel(excel_file, sheet_name='passive_black1')
  df1, df2 = preanal(df)

IndentationError: unexpected indent (<ipython-input-5-9ebc2f1c9a49>, line 3)

In [ ]:
excel_file = r'/content/drive/MyDrive/TurnNeck/PROCESSED/1. MATLAB (Exclude less than 50 µV)' + '/' + list_of_files[3]
df = pd.read_excel(excel_file, sheet_name='passive_black1')
df1, df2 = preanal(df)

<ipython-input-37-b9f02f7fd6dc>:4: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (columnName, columnData) in df.iteritems():

In [ ]:
df1.reset_index()
df1

,FDI_right,ADM_right,SCMR1,SCMR3,SCML1,SCML3,TRPR,TRPL
mean,1510.653823,590.411275,25.722792,14.344226,39.442153,73.454269,106.977419,113.537705
std,1188.367036,413.221033,47.382684,2.419862,20.414866,27.390598,32.744475,44.598076
mean+2sd,-866.080249,-236.030791,-69.042577,9.504501,-1.38758,18.673073,41.488468,24.341553
mean-2sd,3887.387894,1416.853341,120.48816,19.183951,80.271886,128.235465,172.466369,202.733858
mean_cleaned,1276.403579,551.371004,16.631155,14.108607,35.551913,69.506446,103.86585,103.44122

In [ ]:
df2

,FDI_right_mean+-2sd,ADM_right_mean+-2sd,SCMR1_mean+-2sd,SCMR3_mean+-2sd,SCML1_mean+-2sd,SCML3_mean+-2sd,TRPR_mean+-2sd,TRPL_mean+-2sd
0,1029.422311,571.800547,13.542411,14.923887,16.038724,53.154913,83.624646,89.037290
1,793.170856,331.842712,11.643470,13.778772,17.154716,61.334873,49.192137,89.305914
2,527.092079,103.218156,10.759962,11.693913,59.150014,46.695385,62.785274,92.269700
3,504.837580,71.359409,11.796062,10.421023,13.672433,47.777905,122.249005,90.436621
4,592.386466,195.339444,21.087790,14.972961,22.398505,51.561982,72.878854,111.449673
5,1455.491334,703.577584,12.195980,15.980166,37.207769,66.498422,93.782344,60.297007
6,1003.781872,511.132155,16.768865,NaN,61.256875,62.718244,137.519327,NaN
7,435.673896,114.315428,16.844534,10.435867,34.151625,114.895517,93.019555,144.303947
8,776.596283,252.345384,17.433891,14.167146,47.205714,47.700800,65.830482,76.775939
9,3097.584392,530.326530,21.636860,16.304228,39.641683,73.348728,79.078203,118.990471
10,368.585560,143.277475,22.171710,11.949429,13.479472,58.328795,83.067727,140.825475
11,725.036586,192.750611,14.643198,13.359552,33.813984,90.208929,84.330702,149.588866
12,1757.355659,872.804282,18.674682,15.726041,NaN,113.323037,102.676922,138.696306
13,2943.845646,NaN,19.604269,18.149526,14.411907,NaN,156.300601,88.831401
14,1243.951312,433.335389,11.005195,14.221869,40.972104,68.225388,139.166414,105.646210
15,1665.294915,1230.002550,NaN,15.395177,40.101367,71.683312,106.240396,89.002582
16,NaN,772.094564,19.703187,12.166331,44.002047,77.556004,115.893029,123.852706
17,1009.333170,444.544939,16.857761,14.106621,44.547464,53.505007,109.061812,81.035975
18,892.660056,1312.570992,13.182800,14.825887,37.093777,65.926945,133.038020,82.746938
19,3006.023756,1139.030348,21.173355,17.707195,NaN,68.615112,NaN,157.473671
20,725.569474,627.042030,19.217300,13.157437,37.245645,96.455546,107.552714,100.360293
21,637.888560,77.747062,13.470777,14.707393,40.633535,51.299082,93.715464,91.525109
22,896.201724,784.978808,23.121958,16.385032,71.507622,77.845406,166.097129,NaN
23,2765.495070,938.753182,15.421735,15.437478,32.680170,86.749469,92.254447,108.017085
24,NaN,850.358659,17.947148,14.647110,38.308908,71.521273,108.739649,67.452311
25,2101.710319,759.185886,17.997328,11.756032,13.486730,68.983471,102.580997,113.448892
26,955.100596,371.911972,14.507797,10.447710,38.635026,61.254050,139.836245,74.660102

In [ ]:
#df4 = df2.append(df3, ignore_index = True)
#df4
df4= pd.concat([df2, df3], axis=1)
df4
df5 = pd.concat([df4, df1], axis=0)
df5

,FDI_right_mean+-2sd,ADM_right_mean+-2sd,SCMR1_mean+-2sd,SCMR3_mean+-2sd,SCML1_mean+-2sd,SCML3_mean+-2sd,TRPR_mean+-2sd,TRPL_mean+-2sd,epr1,epr2,epr3,epr4,epr5,FDI_right,ADM_right,SCMR1,SCMR3,SCML1,SCML3,TRPR,TRPL
0,1029.422311,571.800547,13.542411,14.923887,16.038724,53.154913,83.624646,89.037290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,793.170856,331.842712,11.643470,13.778772,17.154716,61.334873,49.192137,89.305914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,527.092079,103.218156,10.759962,11.693913,59.150014,46.695385,62.785274,92.269700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,504.837580,71.359409,11.796062,10.421023,13.672433,47.777905,122.249005,90.436621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,592.386466,195.339444,21.087790,14.972961,22.398505,51.561982,72.878854,111.449673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1455.491334,703.577584,12.195980,15.980166,37.207769,66.498422,93.782344,60.297007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1003.781872,511.132155,16.768865,NaN,61.256875,62.718244,137.519327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,435.673896,114.315428,16.844534,10.435867,34.151625,114.895517,93.019555,144.303947,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,776.596283,252.345384,17.433891,14.167146,47.205714,47.700800,65.830482,76.775939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3097.584392,530.326530,21.636860,16.304228,39.641683,73.348728,79.078203,118.990471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,368.585560,143.277475,22.171710,11.949429,13.479472,58.328795,83.067727,140.825475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,725.036586,192.750611,14.643198,13.359552,33.813984,90.208929,84.330702,149.588866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1757.355659,872.804282,18.674682,15.726041,NaN,113.323037,102.676922,138.696306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2943.845646,NaN,19.604269,18.149526,14.411907,NaN,156.300601,88.831401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1243.951312,433.335389,11.005195,14.221869,40.972104,68.225388,139.166414,105.646210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1665.294915,1230.002550,NaN,15.395177,40.101367,71.683312,106.240396,89.002582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,772.094564,19.703187,12.166331,44.002047,77.556004,115.893029,123.852706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1009.333170,444.544939,16.857761,14.106621,44.547464,53.505007,109.061812,81.035975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,892.660056,1312.570992,13.182800,14.825887,37.093777,65.926945,133.038020,82.746938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3006.023756,1139.030348,21.173355,17.707195,NaN,68.615112,NaN,157.473671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,725.569474,627.042030,19.217300,13.157437,37.245645,96.455546,107.552714,100.360293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,637.888560,77.747062,13.470777,14.707393,40.633535,51.299082,93.715464,91.525109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,896.201724,784.978808,23.121958,16.385032,71.507622,77.845406,166.097129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2765.495070,938.753182,15.421735,15.437478,32.680170,86.749469,92.254447,108.017085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,850.358659,17.947148,14.647110,38.308908,71.521273,108.739649,67.452311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2101.710319,759.185886,17.997328,11.756032,13.486730,68.983471,102.580997,113.448892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,955.100596,371.911972,14.507797,10.447710,38.635026,61.254050,139.836245,74.660102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1510.653823,590.411275,25.722792,14.344226,39.442153,73.454269,106.977419,113.537705
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1188.367036,413.221033,47.382684,2.419862,20.414866,27.390598,32.744475,44.598076
mean+2sd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,9.504501,0,18.673073,41.488468,24.341553
mean-2sd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3887.387894,1416.853341,120.48816,19.183951,80.271886,128.235465,172.466369,202.733858
mean_cleaned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1276.403579,551.371004,16.631155,14.108607,35.551913,69.506446,103.86585,103.44122

In [ ]:
df2 = pd.concat([df2, df3])
#df2 = pd.concat([df2, df1], ignore_index=False)
df2
# df_merged = df2.append(df1)
# df_merged
#df2.join(df1)

,FDI_right_mean+-2sd,ADM_right_mean+-2sd,SCMR1_mean+-2sd,SCMR3_mean+-2sd,SCML1_mean+-2sd,SCML3_mean+-2sd,TRPR_mean+-2sd,TRPL_mean+-2sd,epr1,epr2,epr3,epr4,epr5,FDI_right,ADM_right,SCMR1,SCMR3,SCML1,SCML3,TRPR,TRPL
0,851.251785,108.897243,12.696062,14.434201,22.239901,43.170177,27.739508,100.558858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,186.918030,57.294471,15.091840,14.299730,18.075722,19.153026,32.091699,98.773312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,305.127322,58.177660,44.992435,14.665207,16.006465,NaN,NaN,392.814790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,993.382472,381.021740,NaN,17.771151,17.052410,67.796880,41.237082,334.140148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1942.950569,254.669764,20.540833,11.278523,21.865349,46.253612,22.348446,102.183061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.